$color-fondo: white;
$color-letra-header:  rgb(24, 119, 16);
$color-enlace: black;
$color-parrafo: black;
$verde: green;

$tabla-titulo: rgb(72, 148, 46);
$tabla-borde: black;
$tabla-letra: white;
$tabla-fondo: rgb(44, 148, 44);

